/*
|
| Framework: Laravel 12 + Vue 3 + Tailwind CSS
| ----- Information of Developer -----
| Name: Mahi Bashar Akash
| Designation: Junior Software Engineer
| email: mahibashar2000002@gmail.com
| phone Number: +880 01400125289
|
*/

@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "SN Pro", sans-serif;
}
